<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">Angular 8 Training</a>
    <button (click)="toggleMenu()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" [collapse]="isCollapsed">
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="users" (click)="closeMenu()">Usuarios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="posts" (click)="closeMenu()">Posts</a>
        </li>
        </ul>
    </div>
</nav>