<form (submit)="addUser()">
    <input type="text" name="userName" [(ngModel)]="userName">
    <button>Add user</button>
</form>

<table class="data-table">
    <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Acciones</th>
    </tr>
    <tr *ngFor="let user of usersList">
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>
            <a routerLink="user.id">Ver detalle</a>
        </td>
    </tr>
</table>