<div class="container">
    <form (submit)="createPost()">
        <div class="form-group">
            <label for="user">Usuario</label>
            <select class="form-control" [(ngModel)]="data.userId" name="usuario">
                <option value="">Selecciona un usuario...</option>
                <option *ngFor="let row of users" value="{{row.id}}">
                    {{row.name}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="title">Titulo</label>
            <input type="text" class="form-control" placeholder="Titulo" name="title" [(ngModel)]="data.title">
        </div>
        <div class="form-group">
            <label for="body">Contenido</label>
            <textarea class="form-control" cols="30" rows="6" [(ngModel)]="data.body" name="body"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Guardar" class="btn btn-primary">
            <a routerLink=".." class="btn btn-default">Cancelar</a>
        </div>
    </form>
</div>