<div class="container">

    <h1>Listado de Posts</h1>
    <a routerLink="new" class="btn btn-success float-right">New Post</a>
    <table class="data-table">
        <tr>
            <th>Title</th>
            <th>User Id</th>
            <th>Acciones</th>
        </tr>
        <tr *ngFor="let post of posts">
            <td>{{post.title}}</td>
            <td>{{post.userId}}</td>
            <td><a [routerLink]="post.id">
                    <fa-icon [icon]="editIcon"></fa-icon>
                    Ver</a></td>
        </tr>
    </table>
</div>