/* You can add global styles to this file, and also import other style files */
table.data-table {
    width: 100%;
    border-spacing: 0;
}

table.data-table tr:nth-child(odd) {
    background-color: #eaeaea;
}

table.data-table tr:first-child {
    background-color: #c0c0c0;
}

table.data-table th,
table.data-table td {
    padding: 8px 10px;
}
